@import './variables.css';

body{
    background-image: var(--main-bg-gradient)
} 

html{
    font-family: Roboto, sans-serif;
}

input{
    margin: 5px 0;
}

main{
    min-height: 100vh;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 30px 10px;
}

.flex{
    display: flex;
}

.flex--space-between{
    justify-content: space-between;
}

.text--center{
    text-align: center;
}

.app__logo{
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

.app__logo img{
    width: 100%;
    height: auto;
}

h1{
    color: var(--peach);
    font-size: var(--font-xl);
    font-weight: 700;
}

h2{
    font-size: var(--font-m);
    font-weight: 700;
}

.budget__state{
    font-size: var(--font-l);
    font-weight: 700;
}

.budget__state--success{
    color: var(--success);
}

/* This class can be used when the budget value is 0 
.budget__state--warning{
    color: var(--warning)
} */

/* This class can be used when the budget value is below 0
.budget__state--danger{
    color: var(--danger)
} */

.budget__list__wrapper{
    margin: 30px 0;
    flex-direction: column;
}

.budget__incomes, 
.budget__expenses{
    margin-top: 30px;
}

.budget__list{
    padding: 20px 0;
    border-top: 1px solid var(--deep-blue);
    border-bottom: 1px solid var(--deep-blue);
}

.incomes__header{
    color: var(--golden);
}

.expenses__header{
    color: var(--orange);
}

.budget__list__form{
    margin: 15px 0;
}

.budget__list__form__input{
    font-size: var(--font-sm);
    line-height: 24px;
    border: none;
}

.budget__list__form__input--text{
    width: 270px;
}

.budget__list__form__input--number{
    width: 80px
}

.budget__list__form__input__button{
    padding: 3px 20px;
    border: none;
    background-color: var(--deep-blue);
    color: var(--white);
    font-size: var(--font-sm);
    font-weight: 700;
}

.budget__list__summary{
    margin-top: 30px;
    border-bottom: 1px solid var(--success);
    color: var(--deep-blue);
    font-size: var(--font-sm);
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .container{
        width: 960px;
    }

    .budget__list__wrapper{
        flex-direction: row;
    }

    .budget__incomes, 
    .budget__expenses{
        margin-top: 0;
    }
}



/* A SAMPLE STYLING OF BUDGET LIST ITEM

.budget__list__item{
    flex-direction: column;
    padding: 2px 0;
    border: 1px solid var(--white);
    background-color: var(--biscuit);
}

.budget__list__item__button{
    padding: 3px 15px;
    margin: 2px;
    border: none;
    color: var(--white);
    font-size: var(--font-s);
    font-weight: 700;
    line-height: 18px;
}

.budget__list__item__button--edit{
    background-color: var(--edit);
}

.budget__list__item__button--delete{
    background-color: var(--danger);
}

@media screen and (min-width: 1024px){
    .budget__list__item{
        flex-direction: row;
        align-items: center;
    }
} */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.icon__credentials{
    color: var(--white);
    font-size: var(--font-s);
}